.card{
    position: relative;
    border: 1px solid #000000;
    background-color: #ffffff;
    width: 268px;
    height: 455px;
    border-radius: 10px;
    margin: 10px;
    
}

.card-star {
    position: absolute ;
    top: 10px;
    right: 10px;
    color: #ff6600;
    font-size: 16px;
    font-weight: bold;
    text-align: right; 
}

.card-description{
    margin-left: 6px;
    height: 16%;
}

.espaço {
    height: 50px;
    visibility: hidden;
}

.espaço2 {
    height: 8px;
    visibility: hidden;
}

.card-image img {
    width: 60%;
    display: flex; 
    margin: 0 auto;
    
}

.card-desconto{
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 6px;
}

.risco {
    text-decoration: line-through;
     color: rgb(91, 91, 91);
}

.preço{
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-price {
    color: #ff6600;
    font-size: 22px;
    display: flex;
    margin-left: 6px; 
    align-items: center;
}

.desconto{
    font-size: 15px;
    margin-left: 10px; 
    color: #fff;
    background-color: #ff6600;
    border-radius: 15px;
}

.card-parcelamento{ 
    font-size: 10px; 
    margin-left: 6px;   
    color: rgb(91, 91, 91);
}
.botao{
    width: 95%;            
    height: 40px;          
    background-color: #ff6600; 
    color: #fff;
    border: none;
    font-size: 15px;      
    border-radius: 6px;
    margin-top: 40px;
    margin-left: 6px;
}

a{
  text-decoration: none;
  color: white;
}

.budy{
    display: flex;
}





