.card{
    position: relative;
    border: 1px solid #000000;
    background-color: #ffffff;
    width: 268px;
    height: 474px;
}

.card-star {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff9800;
    font-size: 16px;
    font-weight: bold;
    text-align: right; 
}

.espaço {
    height: 50px;
    visibility: hidden;
}

.espaço2 {
    height: 8px;
    visibility: hidden;
}

.card-image img {
    width: 60%;
    height: auto;
    position: center;
    display: block; 
    margin: 0 auto;
}

.card-desconto{
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.risco {
    text-decoration: line-through;
}

.card-price {
    font-size: 20px;
   display: flex;
    align-items: baseline;
}

.desconto{
    font-size: 15px;
    margin-left: 10px; 
    color: rgb(255, 255, 255);
    background-color: #ff6600;
    border-radius: 11px;
}

.card-parcelamento{ 
    font-size: 10px;
}
.botao{
    width: 95%;            
    height: 40px;          
    background-color: #ff6600; 
    color: #fff;
    border: none;
    font-size: 18px;           
    border-radius: 6px;
    margin-top: 40px;
    

}





