* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fundo escuro */
    color: white;
}

header {
    background-color: #1d1d1d;
    padding: 20px 0;
    text-align: center;
}

.header-content .logo {
    width: 200px;
}

nav ul {
    list-style: none;
    margin-top: 15px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.main-content {
    padding: 50px 20px;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.feature-item {
    background-color: #222;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: left;
}

.feature-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.feature-item h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 14px;
    line-height: 1.6;
}
